<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>系统繁忙-500</title>
    <link rel="stylesheet" type="text/css" href="/document/error/css/temperror.css" media="all">
</head>

<body class="box-500" ondragstart="window.event.returnValue=false" oncontextmenu="window.event.returnValue=false" onselectstart="event.returnValue=false">
<div id="container">
    <div>
        <h1 id="h1">您访问的服务器开小差了</h1>
        <h2 id="h2">请您稍后再试，因为这里是500状态页</h2>
        <span id="h3" onclick="location.href='/document'" style="cursor: pointer;" title="返回首页">薄荷你玩</span>
    </div>
</div>
<canvas id="canvas"></canvas>
<!-- 加载js文件-->
<script type="text/javascript" src="/document/error/js/temp.js"></script>
</body>

</html>