<!DOCTYPE html>
<html lang="zh-CN" >
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <meta name="renderer" content="webkit">
    <meta http-equiv="Content-Type"content="text/html; charset=utf-8"/>
    <title>${title}</title>
    <meta name="keywords" content="MEITU">
    <meta name="description" content="">
    <meta name="author" content="薄荷你玩"/>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <script type="text/javascript" src="/layui/layui.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/shadowbox.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="/js/jquery-2.1.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/pandatab.js"></script>
    <script src="/js/shadowbox.js"></script>
    <script src="/js/jquery.qrcode.min.js"></script>
    <script src="/js/masonry.pkgd.min.js"></script>
    <script src="/js/pandapicshow.js"></script>

    <style>
        @media (min-width: 768px) {
            .col-sm-10 {
                width: 88.33333333%;
            }
            .col-sm-push-1 {
                left: 0.33333333%;
            }
        }
    </style>